/*! nkProgressHUD v1.0 http://naoufal.com/projects/nkprogresshud/ | Copyright 2012 Naoufal Kadhom - naoufalkadhom [at] gmail [dot] com */
@import "compass";

/* Mixins
-------------------------------------------------- */
@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: ""; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}

/* Animations
-------------------------------------------------- */
.animate {
	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-out); 
}

.animate-1000ms {
	@include transition-property(all);
	@include transition-duration(1s);
	@include transition-timing-function(ease-out); 
}

/* Has CSS Transforms 3D
-------------------------------------------------- */
.csstransforms3d {
	.nkProgressHUDPage {
		font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		width: 100%; 
		height: 100%;
		position: fixed;
		opacity: 0;
		overflow: hidden;
		top: 0;
		z-index: 9999;
		background: url('img/overlay-black.png');
		
		.nkProgressHUDWrapper {
			@include clearfix;
			display: table;
			height: 270px;	
			width: auto;
			margin-left: auto;
			margin-right: auto;
			background-color: #1A1A1A;
			opacity: 0.9;
			text-align: center;
			color: #ddd;
			font-weight: bold;	
			@include border-radius(10px);
			
			.nkProgressHUDSpinner {
				display: block;	
				min-width: 168px;
				width: 100%;
				height: 128px;
				text-align: center;
				margin: 40px auto;
				background-image: url('img/nkprogresshud-spinner.gif');
				background-repeat: no-repeat;
				background-position: center;
			}	

			.nkProgressHUDText {
				float: left;
				font-size: 28px;	
				padding: 0 40px;
				line-height: 32px;
				min-width: 168px;	
				max-width: 280px;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				white-space: nowrap;
				margin: 0px auto 40px auto;
			}			
		}	
		@media (max-width: 767px) {
			.nkProgressHUDWrapper {
				height: 140px;	
				max-width: 160px;
				width: auto;
				margin-left: auto;
				margin-right: auto;
				background-color: #1A1A1A;
				opacity: 0.9;
				text-align: center;
				color: #ddd;
				font-weight: bold;	
				@include border-radius(10px);
				
				.nkProgressHUDSpinner {
					display: block;	
					float: left;
					min-width: 60px;
					max-width: 100%;
					height: 60px;
					text-align: center;
					margin: 20px 0px;
					background-image: url('img/nkprogresshud-spinner.gif');
					background-repeat: no-repeat;
					background-size: 60px 60px;
					background-position: center;
				}	
				.nkProgressHUDText {
					float: left;
					font-size: 16px;
					line-height: 20px;
					padding: 0 10px;
					min-width: 140px;		
					max-width: 80px;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
					white-space: nowrap;
					margin: 0px auto 10px auto;
				}				
			}
		}	
	}
}

/* Does Not Have CSS Transforms 3D
-------------------------------------------------- */
.no-csstransforms3d {
	.nkProgressHUDPage {
		font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		width: 100%; 
		height: 100%;
		position: fixed;
		display: none;
		overflow: hidden;
		top: 0;
		z-index: 9999;
		background: url('img/overlay-black.png');
		
		.nkProgressHUDWrapper {
			@include clearfix;			
			display: table;
			height: 270px;	
			width: auto;
			margin-left: auto;
			margin-right: auto;
			background-color: #1A1A1A;
			opacity: 0.9;
			text-align: center;
			color: #ddd;
			font-weight: bold;	
			@include border-radius(10px);
			
			.nkProgressHUDSpinner {
				display: block;	
				min-width: 168px;
				width: 100%;
				height: 128px;
				text-align: center;
				margin: 40px auto;
				background-image: url('img/nkprogresshud-spinner.gif');
				background-repeat: no-repeat;
				background-position: center;
			}	

			.nkProgressHUDText {
				float: left;
				font-size: 28px;	
				padding: 0 40px;
				line-height: 32px;
				min-width: 168px;	
				max-width: 280px;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				white-space: nowrap;
				margin: 0px auto 40px auto;
			}			
		}	
		@media (max-width: 767px) {
			.nkProgressHUDWrapper {
				height: 140px;	
				max-width: 160px;
				width: auto;
				margin-left: auto;
				margin-right: auto;
				background-color: #1A1A1A;
				opacity: 0.9;
				text-align: center;
				color: #ddd;
				font-weight: bold;	
				@include border-radius(10px);

				.nkProgressHUDSpinner {
					display: block;	
					float: left;
					min-width: 60px;
					max-width: 100%;
					height: 60px;
					text-align: center;
					margin: 20px 0px;
					background-image: url('img/nkprogresshud-spinner.gif');
					background-repeat: no-repeat;
					background-size: 60px 60px;
					background-position: center;
				}	
				.nkProgressHUDText {
					float: left;
					font-size: 16px;
					line-height: 20px;
					padding: 0 10px;
					min-width: 140px;		
					max-width: 80px;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
					white-space: nowrap;
					margin: 0px auto 10px auto;
				}				
			}
		}	
	}
}