/*! nkProgressHUD v1.0 http://naoufal.com/projects/nkprogresshud/ | Copyright 2012 Naoufal Kadhom - naoufalkadhom [at] gmail [dot] com */

/* faded out page wrapper */
.nkProgressHUDPage {
	width: 100%; 
	height: 100%;
	position: fixed;
	display: none;
	overflow: hidden;
	top: 0;
	z-index: 9999;
	background: url('images/nk_loader_overlay.png');
}
/* loader wrapper */
.nkProgressHUDWrapper {
	width: 270px;
	height: 270px;	
	margin-left: auto;
	margin-right: auto;
	background-color: #1A1A1A;
	opacity: 0.9;
	text-align: center;
	color: #ddd;
	font-size: 28px;
	font-weight: bold;	
	box-shadow: 0 2px 4px rgba(34,25,25,0.5);
	-moz-box-shadow: 0 2px 4px rgba(34,25,25,0.5);
	-webkit-box-shadow: 0 2px 4px rgba(34,25,25,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* floader spinner */
.nkProgressHUDSpinner {
	float: left;
	width: 128px;
	height: 128px;
	text-align: center;
	margin-left: 71px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-image: url('images/nk_loader_spinner.gif');
	background-repeat: no-repeat;
}
/* loader string */
.nkProgressHUDText {
	float: left;
	width: 270px;
	text-align: center;
	margin-bottom: 40px;
}

.clear {
	clear: both;
}

@media (max-width: 767px) {
	.nkProgressHUDWrapper {
		width: 150px;
		height: 150px;		
		margin-left: auto;
		margin-right: auto;
		background-color: #1A1A1A;
		opacity: 0.9;
		text-align: center;
		color: #ddd;
		font-size: 28px;
		font-weight: bold;	
		box-shadow: 0 2px 4px rgba(34,25,25,0.5);
		-moz-box-shadow: 0 2px 4px rgba(34,25,25,0.5);
		-webkit-box-shadow: 0 2px 4px rgba(34,25,25,0.5);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	.nkProgressHUDSpinner {
		float: left;
		width: 70px;
		height: 70px;
		text-align: center;
		margin-left: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-image: url('images/nk_loader_spinner.gif');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.nkProgressHUDText {
		float: left;
		width: 150px;
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
	}	
}